{% extends 'Indice/Plantillas/index.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog</title>
        <!-- Favicon-->
        <link rel="icon" type=" assets/image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href= {% static 'blog/css/styles.css' %} rel="stylesheet"  />
        {% endblock head %}
    </head>



    {% block nav %}
    <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
            <!--<a class="navbar-brand" href="#!">Start Bootstrap</a>-->
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href={% url 'index'%}>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url 'blog'%}>Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url 'about_us'%}>About Us</a></li>
                    </ul>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href={% url 'perfil'%}><img src="{{user_avatar}}" alt="Editar" height="30"></a></li>   
                            <li class="nav-item"><a class="nav-link" href={% url 'formulario_post'%} >Subir post</a></li>
                            <li class="nav-item"><a class="nav-link" href={% url 'logout'%}>Logout </a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href={% url 'login'%}>Login </a></li>
                            <li class="nav-item"><a class="nav-link" href={% url 'register'%}>Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>  
        {% endblock nav %}
        
    {% block contenido %}

    <div>
        <h2><a class="nav-link" href={% url 'editar'%} >Editar Perfil</a></h2>
    </div>
    
    <h5>
        {% if mas_datos.imagen %}
        <img src="{{mas_datos.imagen.url}}" alt="https://pescadata-images.s3.us-west-1.amazonaws.com/1642026639704no-image.png"  width="250" height="250" >
        {% else %}
        <img src="https://pescadata-images.s3.us-west-1.amazonaws.com/1642026639704no-image.png" alt="..." width="250" height="250"/>
        {% endif %}
        <li>{{request.user.username}}</li>
        <li>{{request.user.first_name}}</li>
        <li>{{request.user.last_name}}</li>
        <li>{{request.user.email}}</li>
        <li>{{mas_datos.link}}</li>
        <li>{{mas_datos.bio}}</li>
    </h5>

    {% endblock contenido %}
