{% extends "Indice/Plantillas/blog.html" %}

{% block posts %}
{% for post in posts %}
<ul>
  <div class="row">
      <div class="col-lg-8">
          <div class="card mb-6">
              <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
              <div class="card-body">
                  <div class="small text-muted">Fecha del post</div>
                  <h2 class="card-title">{{post.titulo}}</h2>
                  <p class="card-text">{{post.subtitulo}}</p>
                  <p class="card-text">{{post.autor}}</p>
                  <a class="btn btn-primary" href= {% url 'detalle_posts' post.id %} >Ver mas</a>
                  {% if request.user.is_authenticated %}
                  <a class="btn btn-primary" href= {% url 'delete_posts' post.id %} >Borrar </a
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</ul>
{% endfor %}
{% endblock posts %}