{% extends "Indice/Plantillas/blog.html" %}

{% block contenido %}
<ul>
  <div class="row">
      <div class="col-lg-8">
          <div class="card mb-6">
            {% if post.imagen %}
            <img  src="{{post.imagen.url}}"alt="" width="300" height="300"  >
            {% else %}
            <img  src="https://pescadata-images.s3.us-west-1.amazonaws.com/1642026639704no-image.png" alt="..." width="300" height="300">
            {% endif %}
            <div class="card-body">
                <div class="small text-muted">{{post.fecha}}</div>
                <h2 class="card-title">{{post.titulo}}</h2>
                <p class="card-text">{{post.subtitulo}}</p>
                <p class="card-text">{{post.texto}}</p>
                <p class="card-text">{{post.autor}}</p>
                {% if request.user.is_authenticated %}
                {% endif %}                            
              </div>
          </div>
      </div>
  </div>
</ul>
{% endblock contenido %}